header {
  width: 100%;
  height: 400px;
  background-color: #257E78;
}

div.title {
  padding-top: 15px;
}

img {
  width: 39%;
  height: 300px;
  border: 2px solid black;
}

img.drinks {
  width: 20%;
  height: 300px;
  border: 2px solid black;
}

img.chart {
  width: 50%;
  height: 400px;
}

.main {
  width: 100%;
  height: auto;
  color:#000000;
  background-color: #40B8AF;
  padding: 5px;
}

article {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
}

.CenterTable {
  width: 75%;
  margin: 0px auto;
}

td, th {
  border: solid 1px black;
  color: #6C2D58;
}

tr {
  background-color: #8cc5c1;
}


footer {
  width: 100%;
  height: 100px;
  position: bottom;
  position: absolute;
  color: #000000;
  background-color: #6C2D58;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer a:link {
  color: white;
  text-decoration: underline;
}

footer a:hover {
  color: #000000;
}






